.asked h4 {
    word-spacing: 3px;
}
.askedRowTop i {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    border:  #000 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}